.suitability {
  padding-top: 72px;
  margin-bottom: 128px;

  @include desktop {
    padding-top: 60px;
    margin-bottom: 64px;
  }
}

.suitability__title {
  margin-bottom: 34px;

  text-align: center;

  @include desktop {
    margin-bottom: 70px;

    text-align: start;
  }
}

// suitability

.suitability__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto auto;
  grid-gap: 24px;

  margin-bottom: 44px;

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-gap: 32px;

    margin-bottom: 100px;
  }
}

.suitability__item {
  display: grid;
  grid-template-areas:
    "suitability__item-num suitability__item-title"
    "suitability__item-descr suitability__item-descr";
  align-items: center;
  grid-gap: 17px 8px;

  grid-template-columns: auto 1fr;

  @include desktop {
    grid-template-areas:
      "suitability__item-num suitability__item-title"
      "suitability__item-num suitability__item-descr";
    grid-gap: 31px 16px;
  }
}

.suitability__item-num {
  grid-area: suitability__item-num;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border: 1px solid $primary-100;
  border-radius: 99px;

  font-family: "Furore";
  font-size: 25px;
  line-height: 130%;
  color: $primary-400;

  @include desktop {
    width: 88px;
    height: 88px;

    font-size: 50px;
  }
}

.suitability__item-title {
  grid-area: suitability__item-title;

  font-family: "Onest";
  font-size: 16px;
  font-weight: 400;
  color: $text-main;

  @include desktop {
    font-size: 18px;
  }
}

.suitability__item-title-accent {
  font-family: "Furore";
  color: $primary-400;
}

.suitability__item-descr {
  grid-area: suitability__item-descr;

  color: $text-light;
}

// advantages

.advantages__title {
  margin-bottom: 34px;

  @include desktop {
    margin-bottom: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include desktop {
    flex-direction: row;
    gap: 32px;

    margin-top: -74px;
  }
}

.advantages__list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 16px;
  grid-template-areas:
    "advantages__list-icon advantages__list-title"
    "advantage__list-descr advantage__list-descr";

  padding: 24px;

  border-radius: 24px;

  box-shadow: $shadow-300;

  @include desktop {
    grid-gap: 16px 24px;
  }
}

.advantages__list-icon-wrap {
  grid-area: advantages__list-icon;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 99px;

  .advantages__list-item:nth-child(1) & {
    background-color: $primary-50;
  }

  .advantages__list-item:nth-child(2) & {
    background-color: $purple-light;
  }

  .advantages__list-item:nth-child(3) & {
    background-color: $green-100;
  }

  @include desktop {
    width: 64px;
    height: 64px;
  }
}

.advantages__list-icon {
  width: 30px;
  height: 30px;

  .advantages__list-item:nth-child(1) & {
    fill: $primary-400;
  }

  .advantages__list-item:nth-child(2) & {
    fill: $purple-normal;
  }

  .advantages__list-item:nth-child(3) & {
    fill: $green-400;
  }

  @include desktop {
    width: 44px;
    height: 44px;
  }
}

.advantages__list-title {
  grid-area: advantages__list-title;

  .advantages__list-item:nth-child(1) & {
    color: $primary-400;
  }

  .advantages__list-item:nth-child(2) & {
    color: $purple-normal;
  }

  .advantages__list-item:nth-child(3) & {
    color: $green-400;
  }
}

.advantage__list-descr {
  grid-area: advantage__list-descr;

  padding-top: 16px;

  .advantages__list-item:nth-child(1) & {
    border-top: 1px solid $primary-50;
  }

  .advantages__list-item:nth-child(2) & {
    border-top: 1px solid $purple-light;
  }

  .advantages__list-item:nth-child(3) & {
    border-top: 1px solid $green-100;
  }

  color: $text-light;

  @include desktop {
    padding-top: 24px;
  }
}

.advantages__image-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  height: 330px;
  padding: 24px;

  border-radius: 24px;

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 47%,
      rgba(29, 44, 58, 1) 100%
    ),
    url("./../../images/advantage-mobile.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include desktop {
    width: 276px;
    height: 392px;

    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 47%,
        rgba(29, 44, 58, 1) 100%
      ),
      url("./../../images/advantage-desktop.webp");
    background-size: 276px 392px;
  }
}

.advantages__image-title {
  margin: auto 0 16px 0;

  color: $primary-25;
}

.advantages__image-descr {
  padding-top: 16px;

  border-top: 1px solid $primary-25;

  color: $primary-25;

  opacity: 0.8;
}
